@import '../../scss/variables';

.Home {

  &-image {
    width: 91px;
    height: 45px;
    margin-left: $spacer;
  }

  &-grid {
    height: calc(100vh + 1rem);

    &-map {
      padding-bottom: 0 !important;
      padding-right: 0 !important;
    }

    &-sideview {
      padding: $spacer*2;
    }
  }
}
